html, body {
	margin: 0;
	padding: 0;
}


/* =Typography
-----------------------------------------------------------------------------*/
body {
	font-family: Helvetica, Arial, sans-serif;	
	font-size: 14px;
    background: #DE9D52;
}


/* =Layout
-----------------------------------------------------------------------------*/
#page {
	width: 940px;
	margin: 50px auto;
}

.edit_btn {
}

.save_btn {
}

.cancel_btn {
    font-size: 60px;
}

#current_tools {
    margin: 20px;
}

/* =Misc
-----------------------------------------------------------------------------*/
.list li {
	margin: 10px 0;
}
