<html>
 <head>
  <title>
  </title>
 </head>
 <body>
  <div data-fieldname="blog" data-type="collection">
   {% for item in blog %}
   <div data-fieldname="{{ item.__name }}" data-parent="blog" data-type="item">
    <h1 data-fieldname="title" data-parent="{{ item.__name }}">
     {{ item.title }}
    </h1>
    <p data-fieldname="body" data-parent="{{ item.__name }}">
     {{ item.body }}
    </p>
   </div>
   {% endfor %}
  </div>
  {% if cnoms_edit %}{% include '/edit.jinja' %}{% else %}{% include '/edit_link.jinja' %}{% endif %}
 </body>
</html>