<a id='edit_link' href="{{url_for('show_template', user=__user, site=__site, template=__template)}}">done editing</a>
<script src="{{ url_for('static', filename='__/js/jquery-1.8.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='__/js/redactor.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='__/js/redactor.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='__/css/global.css') }}" />
<script type="text/javascript">


!function ($) {

  $.fn.cnoms_collection = function (option) {
    return this.each(function () {
        var $template = $($(this).find("[data-type=item]").first())

        var tools = $("<div>", {'class': "tools"});
        var new_btn = $("<button>", {class: "new_btn", text:"Add..."}).bind('click', function() {
            var $clone = $template.clone(true)
            $clone.insertBefore(this);
            var old_name = $template.data('fieldname');
            var new_name = $clone.data('parent') + "_" + Math.floor(Math.random()*255).toString(16) + Math.floor(Math.random()*255).toString(16) + Math.floor(Math.random()*255).toString(16);
            $clone.attr("data-fieldname", new_name)
            $clone.find(".tools").remove();
            $clone.find("[data-parent]").each(function() {
                if ($(this).data('parent') == old_name) {
                    $(this).text("New "+$(this).data('fieldname'))
                    $(this).attr('data-parent', new_name);
                }
            });
            $.post('/{{ __user }}/{{ __site }}/change_entry', {
                'fieldname': $clone.data('fieldname'),
                'parent': $clone.data('parent'),
                'type': "item"
            });
            $clone.find("*[data-fieldname]:not([data-type=collection], [data-type=item])").cnoms();
        }).appendTo(this)
    });
  }

  $.fn.cnoms = function (option) {
    return this.each(function () {
        var that = this;
        var tools = $("<div>", {'class': "tools"});
        var edit = $("<button>", {class: "edit_btn", text:"Edit"})
        var save = $("<button>", {class: "save_btn", text:"Save"});
        var cancel = $("<button>", {class: "button_btn", text:"Cancel"});

        var show_tools = function() {
            $(edit).hide();
            $(save).show();
            $(cancel).show();
        };
        var hide_tools = function() {
            $(edit).show();
            $(save).hide();
            $(cancel).hide();
        }
        var original = null;
        edit.bind('click', function() {
            $(that).redactor({air: true});
            original = $(that).getCode();
            show_tools();
        });
        cancel.bind('click', function() {
            $(that).destroyEditor();
            $(that).text(original);
            hide_tools();
        });
        save.bind('click', function() {
            $.post('/{{ __user }}/{{ __site }}/change_entry', {
                'fieldname': $(that).data('fieldname'),
                'parent': $(that).attr('data-parent'),
                'type': $(that).data('type'),
                'value': $(that).getCode()
            });
            $(that).destroyEditor();
            hide_tools();
        })

        tools.append(edit, save, cancel);
        tools.insertAfter(this);
        hide_tools();
    });
  }
}(window.jQuery);

$(document).ready(function(){
    $("*[data-fieldname]:not([data-type=collection], [data-type=item])").cnoms();
    $("*[data-type=collection]").cnoms_collection();
});

</script>