{% if cnoms_edit %}
{% include '/edit.jinja' %}
{% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='__/css/global.css') }}" />
    <a id='edit_link' href="{{url_for('edit_page', user=__user, site=__site, template=__template)}}">Edit</a>
{% endif %}

