<html>
<head>
	<title>CNoMS - {{user}}</title>
    <link href="{{ url_for('static', filename='__/css/global.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='__/js/jquery-1.8.2.min.js') }}"></script>

</head>
<body class="overview">
    <div id="content" class="">
    <div id="sites">
	{% for site in sites %}
		<a class="site" href="{{ url_for('show_template', user=user, site=site['name'])}}">
            <div class="logo" style="background-image: url({{ url_for('static', filename="{}/{}/__icon.png".format(user, site.name)) }})"></div>
            <div class="name">{{site.name}}</div>
        </a>
	{% endfor %}
    <a class="site add" id="add">
        <div class="logo"></div>
        <div class="name">Add another site...</div>
    </a>
    </div>
    </div>
    <div id="popup" class="up" style="display: none;">
        <h3>Enter path to your awesome website:</h3>
        <input type="text" id="path" />
    </div>

    <script>
        $("#add").bind('click', function() {
            console.log("d")
            $("#popup").show().removeClass('up');
            $("#content").addClass("background")
            setTimeout(300, function() {
            $("#content").bind('click', function() {
                $("#content").removeClass("background");
                $("#popup").hide();
                $(this).unbind();
            });
        });
        });

    </script>
</body>
</html>