<html>
 <head>
  <title>
   Test file
  </title>
  <script src="{{ url_for('static', filename='localuser/simple/js/jquery-1.8.2.min.js') }}">
  </script>
  <link href="{{ url_for('static', filename='localuser/simple/css/style.css') }}" rel="stylesheet"/>
 </head>
 <body>
  <h1 data-fieldname="title" data-type="plain">
   {{ title }}
  </h1>
  <div data-fieldname="content">
   {{ content }}
  </div>
  {% if cnoms_edit %}{% include '/edit.jinja' %}{% else %}{% include '/edit_link.jinja' %}{% endif %}
 </body>
</html>