body.overview {
    background: url(../bin/background.png) top left repeat #333;
    box-shadow: inset 0px 20px 40px -5px rgba(0,0,0,.2);
    padding: 1px;
    margin: 0px;
}

#sites {
    margin: 50px;
}

#sites .site {
    display: inline-block;
    width: 196px;
    text-decoration: none;
    margin: 20px;
    -webkit-transition: all .5s ease;
}

#popup {
    width: 400px;
    border-radius: 5px;
    padding: 20px 40px 40px 40px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 200px;
    background: url(../bin/modal.png) top left repeat #eee;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,.2), inset 0px 60px 60px rgba(255,255,255,.4);
    -webkit-transition: top .6s ease;
}
#popup.up {
    top: -200px;
}

#popup h3 {
    font-family: Junction, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    letter-spacing: 200%;
    color: #555;
    font-weight: normal;
    text-shadow: 0px 1px 0px white;
}

#popup input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: Junction, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

#sites .site .logo {
    background: #6a9ed7;
    width: 196px;
    height: 196px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,.2), inset 0px 60px 60px rgba(255,255,255,.4), inset 0px 0px 0px 98px rgba(255,255,255,0);;
    -webkit-transition: all .5s ease;
    cursor: pointer;
}
#content {
    -webkit-transform: all .5 ease;
}
#content.background {
    -webkit-filter: grayscale(0.5) blur(10px);
}

#sites .site.add .logo {
    background: url(../bin/add.png) top left no-repeat transparent;
    opacity: .6;
    box-shadow: none;
}
#sites .site.add .name {
    color: #777;
    text-shadow: 0px -1px 0px black;
}
#sites .site.add:hover .logo {
    background: url(../bin/add.png) top left no-repeat transparent;
    opacity: 1;
    box-shadow: none;
    -webkit-transform: none;
}
#sites .site .name {
    text-align: center;
    font-family: Junction, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    letter-spacing: 200%;
    color: #ccc;
    text-shadow: 0px -2px 0px black;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all .5s ease;
}
#sites .site:hover .logo {
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,.2), inset 0px 60px 60px rgba(255,255,255,.5), inset 0px 0px 0px 98px rgba(255,255,255,.2);
    -webkit-transform: scale(1.1);
}
#sites .site:hover .name {
    color: #eee;
}

#edit_link{
    margin-bottom:30px;
    text-align:center;
    font-size:1em;

    color:#404449;
    background-color:#ececec;
    display:inline-block;
    padding:6px 8px;
    z-index:100;
    position:relative;
    left: 30px;
    bottom: 20px;
}
