body.overview {
    background: url(../bin/background.png) top left repeat #333;
    box-shadow: inset 0px 20px 40px -5px rgba(0,0,0,.2);
    padding: 1px;
    margin: 0px;
}
body.cnoms-edit {
    margin-top: 60px;
}
body .redactor_toolbar li a.redactor_btn_save  {
     background: #358430;
     border-radius: 15px;
     -webkit-box-shadow: inset 0px 20px 30px rgba(255,255,255,.5);
}
body.changed .redactor_toolbar li a.redactor_btn_save {
    background: #791e23;
}
#cnoms-edit {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: url(../bin/background.png) top left repeat #333;
    box-shadow: inset 0px 20px 40px -5px rgba(0,0,0,.2);
    
}
#cnoms-edit input[type=range] {
    width: 80%;
    display: block;
    margin: 5px auto;
    box-sizing: boder-box;
    -webkit-appearance: none;
    -webkit-border-radius: 5px;
    background-color: rgba(255,255,255,.2);
}
#sites {
    margin: 50px;
}

#sites .site {
    display: inline-block;
    width: 196px;
    text-decoration: none;
    margin: 20px;
    -webkit-transition: all .5s ease;
}

#popup {
    width: 400px;
    border-radius: 5px;
    padding: 20px 40px 40px 40px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 200px;
    background: url(../bin/modal.png) top left repeat #eee;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,.2), inset 0px 60px 60px rgba(255,255,255,.4);
    -webkit-transition: top .6s ease;
}
#popup.up {
    top: -200px;
}

#popup h3 {
    font-family: Junction, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    letter-spacing: 200%;
    color: #555;
    font-weight: normal;
    text-shadow: 0px 1px 0px white;
}

#popup input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: Junction, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

#sites .site .logo {
    background: #6a9ed7;
    width: 196px;
    height: 196px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,.2), inset 0px 60px 60px rgba(255,255,255,.4), inset 0px 0px 0px 98px rgba(255,255,255,0);;
    -webkit-transition: all .5s ease;
    cursor: pointer;
}
#content {
    -webkit-transform: all .5 ease;
}
#content.background {
    -webkit-filter: grayscale(0.5) blur(10px);
}

#sites .site.add .logo {
    background: url(../bin/add.png) top left no-repeat transparent;
    opacity: .6;
    box-shadow: none;
}
#sites .site.add .name {
    color: #777;
    text-shadow: 0px -1px 0px black;
}
#sites .site.add:hover .logo {
    background: url(../bin/add.png) top left no-repeat transparent;
    opacity: 1;
    box-shadow: none;
    -webkit-transform: none;
}
#sites .site .name {
    text-align: center;
    font-family: Junction, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    letter-spacing: 200%;
    color: #ccc;
    text-shadow: 0px -2px 0px black;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all .5s ease;
}
#sites .site:hover .logo {
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,.2), inset 0px 60px 60px rgba(255,255,255,.5), inset 0px 0px 0px 98px rgba(255,255,255,.2);
    -webkit-transform: scale(1.1);
}
#sites .site:hover .name {
    color: #eee;
}

#edit_link{
    position: absolute;
    z-index: 999;
    top: 5px;
    right: 10px;
    text-align:center;
    font-size: 10px;
    text-decoration: none;
    opacity: .6;
    color: white;
    background-color:black;
    display:inline-block;
    padding:6px 12px;
    border-radius: 5px;
}
#edit_link:hover {
    opacity: 1;
}

/* Buttons */

/* editable content div */
.editable {
	background: #ececec;
	position: relative;
	left:20px;
	top: -60px;
	float: left;
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	z-index: 100; /* the stack order: foreground */
    padding: 5px;
}

button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#9aafad;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #fff;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 8px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

button:hover {
	background-color:#c0cecd;
}

button:active {
	position:relative;
	top:1px;
