html, body {
	margin: 0;
	padding: 0;
}


/* =Typography
-----------------------------------------------------------------------------*/
body {
	font-family: Helvetica, Arial, sans-serif;	
	font-size: 14px;
    background: #DAE2ED;
    width: 800px;
    margin: 20px auto;
}

p {
    color: #757574;
}

h1 {
    color: #828998;
}

/* =Layout
-----------------------------------------------------------------------------*/
#page {
	width: 940px;
	margin: 50px auto;
}

.image {
    border-style: solid;
    border-width: 15px;
    border-color: #757574;

    margin: 20px;
}

#focus_div {
    background: #DE9D52;
}

/* =Misc
-----------------------------------------------------------------------------*/
.list li {
	margin: 10px 0;
}
